<!DOCTYPE html>
<html>
<head>
<style>
.center {
    position: absolute;
	font-size: 22px;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.center p {
  line-height: 1.5;
  display: inline-block;
  vertical-align: middle;
  font-size: 22px;
}
</style>
</head>
<body>
<div class="center">
  <p>Wrong city name, please enter a valid city name.</p>
</div>

</body>
</html>
